@import '../../helpers/variables.scss';
@import '../../helpers/mixins.scss';

.home-categories {
    padding-top: $mainPaddingTop;
    padding-bottom: $mainPaddingBottom;
    position: relative;
    .container {
        .categories {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            /* Two columns */
            grid-template-rows: repeat(2, 1fr);
            /* Two rows */
            grid-gap: 15px;
            /* Adjust the gap between boxes as needed */
            height: 400px;
            /* Set the height of the grid container as desired */

            @media (max-width: 767px) {
                grid-template-columns: 1fr;
                /* Single column */
                grid-template-rows: auto;
                /* Auto sizing for rows */
                height: 550px;
                /* Reset height to auto */
            }


            .category-box {
                background-color: $gray-color;
                display: flex;
                padding: 15px;
                border-radius: $main-border-radius;
                position: relative;
                overflow: hidden;
                text-decoration: none;
                .text {
                    height: fit-content;
                    max-width: 60%;

                    .category-title {
                        font-size: 22px;
                        font-weight: bold;
                        color: $main-paragraph-color;
                    }

                    .category-description {
                        color: $main-orange-color;
                        font-weight: bold;
                        font-size: 28px;
                        width: 100%;

                    }
                }

                .image {
                    width: 250px;
                    position: absolute;
                    right: 0px;
                    top: 0;
                    @media(max-width:767px){
                        width: 200px;
                    }
                    img {
                        max-width: 100%;
                    }
                }

                &:nth-child(1) {
                    background-color: #e0e0e0;
                    grid-column: 2;
                    /* Place the box in the second column */
                    grid-row: 1 / span 2;

                    /* Make the box span two rows */
                    .image {
                        top: 0%;
                        right: 0;
                        height: 100%;
                    }

                    @media (max-width: 767px) {
                        grid-column: 1 / span 1;
                        /* Span one column */
                        grid-row: auto;
                        /* Reset row sizing */
                    }
                }
            }
        }
    }
}