@import '../../helpers/variables.scss';
@import '../../helpers/mixins.scss';

.home-products {
    padding-top: $mainPaddingTop;
    padding-bottom: $mainPaddingBottom;

    .container {
        .products {
            .mySwiper {
                .swiper-button-prev,
                .swiper-button-next {
                    &::after {
                        color: $main-orange-color;
                    }
                }
            }

        }
    }
}