@import '../../helpers/variables.scss';
@import '../../helpers/mixins.scss';

.all-products {
    padding-top: $mainPaddingTop;
    padding-bottom: $mainPaddingBottom;

    .container {
        .products {
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
            gap: 30px;
        }
    }
}