@import '../../helpers/variables.scss';

.all-categories {
    padding-top: $mainPaddingTop;
    padding-bottom: $mainPaddingBottom;

    .container {
        .categories {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            /* Two columns */
            grid-template-rows: repeat(2, 1fr);
            /* Two rows */
            grid-gap: 15px;
            /* Adjust the gap between boxes as needed */
            height: 400px;
            /* Set the height of the grid container as desired */

            @media (max-width: 767px) {
                grid-template-columns: 1fr;
                /* Single column */
                grid-template-rows: auto;
                /* Auto sizing for rows */
                height: 550px;
                /* Reset height to auto */
            }

            .category-box {
                background-color: $gray-color;
                display: flex;
                padding: 15px;
                border-radius: $main-border-radius;
                position: relative;
                overflow: hidden;

                .text {
                    height: fit-content;
                    max-width: 50%;

                    .category-title {
                        font-size: 22px;
                        font-weight: bold;
                        color: $main-paragraph-color;
                    }

                    .category-description {
                        color: $main-orange-color;
                        font-weight: bold;
                        font-size: 28px;

                    }
                }

                .image {
                    width: 250px;
                    position: absolute;
                    right: 0px;

                    @media(max-width:767px) {
                        width: 200px;
                    }

                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}