@import '../../helpers/variables.scss';

.all-categories {
    padding-top: $mainPaddingTop;
    padding-bottom: $mainPaddingBottom;

    .container {
        .categories {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            /* Two columns */
            grid-template-rows: repeat(2, 1fr);
            /* Two rows */
            grid-gap: 15px;
            /* Adjust the gap between boxes as needed */
            height: 400px;
            /* Set the height of the grid container as desired */

            @media (max-width: 767px) {
                grid-template-columns: 1fr;
                /* Single column */
                grid-template-rows: auto;
                /* Auto sizing for rows */
                height: 550px;
                /* Reset height to auto */
            }
        }
    }
}