@import 'normalize-scss';
@import '../../helpers/variables';
@import '../../helpers/mixins';

.header {
    background-color: white;
    @include prefixer(box-shadow, 0 0 10px #ddd);
    position: relative;
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 72px;
            }
        }

        .main-nav {
            display: flex;
            align-items: center;

            .menu-toggle {
                display: none;
                font-size: 32px;

                @media(max-width:767px) {
                    display: block;
                }
            }

            .nav-links {
                display: flex;
                align-items: center;
                list-style: none;

                @media(max-width:767px) {
                    position: absolute;
                    left: 0;
                    flex-direction: column;
                    background-color: white;
                    width: 100%;
                    @include prefixer(box-shadow, 0 2px 1px #ddd);
                    z-index: 999;
                    top: -50vh;
                    transition-duration: $main-transition-duration;
                    padding-bottom: 15px;
                    &.active {
                        top: 72px;
                    }
                }

                li {
                    &.active {
                        a {
                            color: $main-orange-color;
                        }
                    }

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 72px;
                        color: black;
                        padding: 0px 30px;
                        font-size: 18px;
                        text-decoration: none;
                        font-weight: 700;
                    }
                }
            }
        }
        .input-search{
            flex: 90%;
            display: flex;
            justify-content: flex-end;
            margin: 0px 10px;
        }
        .products-search-input {
            border: 2px solid $gray-color;
            outline: none;
            padding: 10px 15px;
            border-radius: $main-border-radius;
            width: 100%;
            ::placeholder{
                color: $gray-color;
            }
        }
    }
}